<div id="page_all_pokemon" data-role="page">

    <div data-role="header" role="banner" data-position="fixed">
        <h1 class="main-title">Pokedex</h1>
        <a href="settings.html" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">Options</a>
        <div data-role="navbar">
            <ul>
                <li><a href="" class="nav-all-pokemon ui-btn-active ui-state-persist" data-icon="search"  data-transition="none">All Pokemon</a></li>
                <li><a class="nav-my-pokemon" href="my_pokemon.html" data-icon="star" data-transition="none">My Pokemon</a></li>
            </ul>
        </div><!-- /navbar -->
    </div>

    <ul id="list_all_pokemon" data-role="listview" data-inset="true">

    </ul>

    <div data-role="footer" data-position="fixed">
        <button id="btn-prev" data-role="button" data-icon="arrow-l" role="button">Previous</button>
        <button id="btn-next" class="ui-btn-right" data-role="button" data-icon="arrow-r" role="button">Next</button>
    </div>
</div>