<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>



</head>
<body>
    <div data-role="page">

        <div data-role="header" role="banner" data-position="fixed">
            <a href="../index.html" data-icon="back">Back</a>
            <h1 class="main-title">Pokedex</h1>
            <a href="#" data-icon="gear">Settings</a>
        </div>

        <div data-role="content" id="poke_content">
            <h2 id="poke_title"></h2>
            <div id="img_container">
                <img id="poke_img1" src="">
                <img id="poke_img2" src="">
                <img id="poke_img3" src="">
                <img id="poke_img4" src="">
            </div>
        </div>


    </div>

</body>
</html>