    <div data-role="page">

        <div data-role="header" role="banner" data-position="fixed">
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a id="nav-all-pokemon" href="../index.html" data-icon="search" data-transition="none">All Pokemon</a></li>
                    <li><a id="nav-my-pokemon" href="my_pokemon.html" class="ui-btn-active ui-state-persist" data-icon="star" data-transition="none">My Pokemon</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>

        <textarea name="log" id="textarea-position"></textarea>
        <button onclick="currentLocation.getLocationUpdate()">Current Location</button>
    </div>