#textarea-position{
    height: 300px !important;
}

.title{
    margin-left: 40px !important;
}

#back-btn{
    min-width: 20px;
}

/*FlipSwitch styling for text*/
.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.12em;
}