/**********************************************/
/*Index Page*/

#pokedex-webpage{
    margin-left: 8px;
}

/**********************************************/
/*Settings Page*/
#settings-wrapper{
    margin: 0px 15px 10px 15px;
}

#textarea-position{
    height: 300px !important;
    overflow: auto;
}

/*FlipSwitch styling for text*/
.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.12em;
}

#compass-wrapper{
    display: none;
    position: relative; left: 0; top: 0;
}

#compass-img{
    position: relative;
    top: 0;
    left: 0;
}

#compass-needle-img{
    position: absolute;
    top: 27px;
    left: 0px;
}

#gps-wrapper{
    display: none;
}
/**********************************************/